.App-alert{
  height: 100vh;
  width: 100vw;
  background-color: #778CAC;
  color: #FC9FB0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-alert h1{
  display: inline-block;
  width: 280px;
  font-size: 100px;
  font-family: 'Permanent Marker', cursive;
}

.App-alert .rotate-icon{
  height: 200px;
  width: 200px;
  background-image: url('images/rotate.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App-alert h3{
  font-family: 'Kumar One Outline', cursive;
}

.App {
  text-align: center;
}

body{
  font-family: 'Muli', sans-serif;
}

.home{
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* padding: 15vh 0; */
  background-color: #F3DA78;
  overflow: scroll;
}

.home h1{
  padding: 5px;
  background-color: #F5A235;
  z-index: +1;
  /* border-style: dashed; */
}

.home .login-box{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5A235;
  z-index: +1;
}
.home .register-link{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5A235;
  z-index: +1;
}

.decorations{
  height: 78vh;
  width: 100%;
  top: 15vh;
  left: 0;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  align-content: space-between; */
}
.headerimg{
  display: inline-block;
  width: 100%;
  height: 100%;
  /* bottom: 45vh; */
  top: 0;
  left: 0;
  position: absolute;
  background-image: url('images/top.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}
.footerimg{
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 45vh; */
  left: 0;
  background-image: url('images/bottom.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}

.login{
  /* border-style: dashed; */
  width: 220px;
  height: 120px;
  padding: 20px;
}

.login button{
  font-family: 'Kumar One Outline', cursive;
  font-size: 18px;
  height: 30px;
  width: 206px;
  background-color: #F3DA78;
  border: none;
  cursor: pointer;
}

.login button:hover{
  background-color: #D3CFBF;
  color: white;
}

.register-link{
  padding: 5px;
  border: 3px black;
}

input{
  margin: 5px;
  height: 30px;
  width: 200px;
}

input:hover{
  background-color: #D3CFBF
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 15vh;
  padding: 0 1vw;
}

.register{
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* padding: 15vh 0; */
  background-color: #F3DA78;
  overflow: scroll;
}

.register-form{
  padding: 10px;
  width: 250px;
  background-color: #F5A235;
  border: 3px black;
  z-index: +1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-btnlist{
  width: 210px;
  display: flex;
  flex-direction: row;
}
.register-btnlist a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: 'Kumar One Outline', cursive;
}
.register button{
  height: 30px;
  width: 100px;
  margin: 0 2.5px;
  background-color: #FFE364;
  border: none;
  cursor: pointer;
  font-family: 'Kumar One Outline', cursive;
}
.register button:hover{
  background-color: #D3CFBF;
}

.register-back{
  height: 30px;
  width: 100px;
  margin: 0 2.5px;
  background-color: #FFE364;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-back:hover{
  background-color: #D3CFBF;
}

.dashboard{
  height: 85vh;
  background-color: #F3DA78;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  overflow: scroll;
}

.dashboard .decorations{
  height: 85vh;
  top: 15vh;
}

.dashboard-home{
  height: 85vh;
  width: 100vw;
  /* background-color: #778CAC; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-btnlist{
  position: absolute;
  width: 35vw;
  height: 150px;
  left: 20px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.user-btnlist .user-btn{
  font-size: 10px;
  width: 50px;
  background-color: #526280;
  margin: 5px;
  border: 2px solid #F3DA78;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: +1;
  transition: background-color 0.5s, color 0.5s;
}

.user-btnlist .user-btn:hover{
  background-color: #FC9FB0;
  color: #526280;
}

.wordlist-btn{
  height: 120px;
}
.profile-btn{
  height: 50px;
}
.characters-btn{
  height: 50px;
}

.community-btnlist{
  position: absolute;
  width: 35vw;
  height: 150px;
  right: 20px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.community-btnlist .user-btn{
  font-size: 10px;
  height: 50px;
  background-color: #526280;
  margin: 5px;
  border: 2px solid #F3DA78;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: +1;
  transition: background-color 0.5s, color 0.5s;
}

.community-btnlist .user-btn:hover{
  background-color: #FC9FB0;
  color: #526280;
}

.store-btn{
  width: 50px;
}
.leaderboard-btn{
  width: 120px;
}

.game-btn{
  align-self: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  width: 300px;
  height: 100px;
  background-color: #526280;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: +1;
  transition: background-color 0.5s, color 0.5s;
}

.game-btn:hover{
  background-color: #FC9FB0;
  color: #526280;
}

.dashboard-nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #778CAC;
  width: 98vw;
  padding: 0 1vw;
  height: 6vh;
  overflow: scroll;
}

.dashboard-nav div{
  padding: 0 10px;
  height: 6vh;
  display: flex;
  align-items: center;
}

.dashboard-nav div:hover{
  background: #FC9FB0;
  cursor: pointer;
}

.dashboard-expand{
  overflow: scroll;
}

.user-profile{
  height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user{
  margin: 20px;
  background-color: #778CAC;
  width: 360px;
  height: 40vh;
  min-height: 180px;
  border: 5px solid #FC9FB0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}
.user p{
  margin: 0;
}
.user .profile-title{
  display: inline-block;
  height: 40px;
  color: #FC9FB0;
}
.user .profile-content{
  display: inline-block;
  border-top: 2px solid #FC9FB0;
  width: 350px;
  height: 40px;
}

.user-profile .user-buttons{
  display: flex;
}
.user-profile .user-buttons div{
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #F3DA78;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}
.user-profile .user-buttons div:hover{
  background-color: #778CAC;
  color: #FC9FB0;
}
.user-profile form{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-profile form .profile-title{
  font-size: 20px;
  height: 24px;
  width: 350px;
  border-bottom: 2px solid #FC9FB0;
}
.user-profile button{
  height: 30px;
  width: 206px;
  background-color: #F3DA78;
  border: none;
  cursor: pointer;
  color: #FC9FB0;
  font-size: 20px;
  transition: background-color 0.5s, color 0.5s;
}
.user-profile button:hover{
  background-color: #FC9FB0;
  color: #778CAC;
}

.wordlist-container{
  height: 73vh;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wordlist{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.word-single{
  margin: 2px;
  border: solid black;
}

.word-single .delete-btn{
  background-color: #778CAC;
  cursor: pointer;
}
.word-single .delete-btn:hover{
  background-color: #FC9FB0;
}

.game-room{
  height: 73vh;
}






.letter-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#sky{
  height: 65vh;
  width: 100%;
  background-image: url('images/skyline.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: repeat-x;
  position: relative;
  animation: backgroundMove 60s linear infinite;
}

@keyframes backgroundMove{
  from {background-position: 0 0;}
  to {background-position: 100% 0;}
}

#dude{
  position: absolute;
  bottom: 0;
  left: 200px;
  height: 50px;
  width: 50px;
  background-image:url('characters/dude1.gif');
  background-size: cover;
  background-position: center;
  /* animation: jump 1s infinite alternate ease; */
}

.box{
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 50px;
  background-image: url('images/box.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  animation: boxMove 5s 1 forwards linear;
  text-justify: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ground{
  height:50px;
  width: 100%;
  background-color: #9C651C;
}

@keyframes jump {
  0%{
    bottom: 0;
  }
  100%{
    bottom: 90px;
  }
}

@keyframes boxMove {
  0%{
    left: 100%;
  }
  100%{
    left: -50px;
  }
}

.game-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hp-bar{
  margin: 10px;
  height: 315px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: green;
  border: 2px solid black;
}

.hp-dot{
  height: 100px;
  width: 45px;
  margin: 3px 0;
  background-color: #FF0000;
}

.word-board{
  margin: 10px;
}

.word-board .spelled{
  color: red;
  font-weight: 700;
}

.combo{
  font-size: 20px;
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.combo b{
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

.currency{
  margin: 10px;
}

/* .start-banner{
  position: absolute;
  height: 100px;
  left: 0;
  top: 0;
  width: 100%;
  background-color: green;
} */

.lost-banner{
  position: absolute;
  height: 73vh;
  width: 100%;
  background-color: #F3DA78;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaderboard{
  height: 68vh;
}
.store{
  height: 68vh;
}
.characterlist{
  height:68vh;
}

@media (min-width: 750px) {
  #dude{
    height: 100px;
    width: 100px;
  }
  .box{
    height: 100px;
    width: 100px;
  }
  @keyframes jump {
    0%{
      bottom: 0;
    }
    100%{
      bottom: 150px;
    }
  }
}

/* @media (min-width: 640px){
  .footerimg{
    background-position: top;
  }
}

@media (min-width: 900px){
  .headerimg{
    background-position: bottom;
  }
} */
